
.md-list-item-content {
    background-color: white;
}
a.router-link-exact-active {
    font-weight: bold;
}

.md-dialog {
    background-color: white;
}

.md-table, .md-table-content, .workingtimes {
    padding:0 !important;
    width:100% !important;
    overflow: hidden;
}

.md-table {
    overflow-y: scroll;
}
.dashboard {
    display: flex;
    flex-flow: row wrap;
}
.dashboard .md-content {
    flex:1 1 420px;
    display: flex;
    margin: 5px;
    max-height: 400px;
}

.no-p{
    padding:0 !important;
}

@media (max-width: 600px) {
    .md-table.column-table {
        display:none !important;
    }
    .md-table.row-table {
        display:flex;
    }
    .md-table.row-table .md-table-row.with-border-bottom {
        border-bottom:1px solid rgba(0, 0, 0, .1);
    }
}